@use "../../styles/mixins.scss" as *;
@use "../../styles/queries.scss" as *;
@use "../../styles/mixins.scss" as *;

.warehouse-list {
  &__background {
    @include background;
  }
  &__container {
    @include page-container;
  }
  &__headers {
    display: none;
    background: rgba(247, 248, 249, 0.7);
    @include tablet {
      display: flex;
      padding: 11px 2rem;
    }
  }
  &__warehouse-address-header-container {
    display: flex;
    width: 42.34%;
  }
  &__contact-header-container {
    display: flex;
    width: 50.47%;
  }
  &__header-container {
    display: flex;
    align-items: center;
    &--warehouse {
      width: 55.35%;
    }
    &--contact-name {
      width: 37.46%;
    }
    &--actions {
      flex-grow: 1;
    }
  }
  &__header {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #5c667e;
    margin-right: 0.25rem;
    &--actions {
      margin: 0;
      margin-left: auto;
    }
  }
  &__sort-icon {
    width: 1rem;
    height: auto;
  }
}
