@use "../../styles/mixins.scss" as *;
@use "../../styles/queries.scss" as *;

.warehouse-inventory-list {
  &__headers {
    display: none;
    @include tablet {
      display: flex;
      padding: 11px 2rem;
    }
  }
  &__item-category-container {
    display: flex;
    width: 42.3%;
  }
  &__header-container {
    display: flex;
    align-items: center;
    // width: 50%;
    &--item {
      width: 55.35%;
    }
    &--status {
      width: 65.94%;
    }
    &--actions {
      width: 14.53%;
    }
  }
  &__header {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #5c667e;
    margin-right: 0.25rem;
    &--actions {
      margin: 0;
      margin-left: auto;
    }
  }
  &__sort-icon {
    width: 1rem;
    height: auto;
  }
  &__status-quantity-container {
    display: flex;
    width: 43.125%;
  }
}
