@use "../../styles/mixins.scss" as *;

.inventory-list-item {
  &__container {
    // padding: 1rem 1.5rem;
    // border-top: 1px solid black;
    @include list-item-container;
  }
  &__item-status-container {
    display: flex;
    justify-content: space-between;
  }
  &__category-qty-container {
    display: flex;
    justify-content: space-between;
  }
  &__warehouse-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1.1875rem;
  }
  &__info-container {
    width: 50%;
  }
  &__info-header {
    @include list-item-info-header;
  }
  &__item-link {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    width: fit-content;
  }
  &__item-link-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin-right: 0.25rem;
  }
  &__item-link-icon {
    width: 1.25rem;
    height: auto;
  }
  &__info {
    @include list-item-info;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  &__status {
    font-size: 0.6875rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1.25rem;
    font-weight: 600;
    width: fit-content;
    &--in-stock {
      color: #158463;
      background: rgba(21, 132, 99, 0.07);
    }
    &--out-of-stock {
      color: #c94515;
      background: rgba(201, 69, 21, 0.07);
    }
  }
}
