.inventory-item {
  &__container {
    background-color: white;
    margin: 0 1rem;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    position: relative;
    top: -4.25rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 1.5rem 1.5rem 1.75rem;
  }
  &__back-name-container {
    display: flex;
    align-items: center;
  }
  &__back-link {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }
  &__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  &__edit-link {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: #2e66e5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__edit-icon {
    width: 1.25rem;
    height: auto;
  }
  &__info-container {
    border-top: 1px solid black;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  &__status-qty-container {
    display: flex;
  }
  &__status-container {
    width: 50%;
  }
  &__qty-container {
    width: 50%;
  }
  &__info-header {
    font-size: 0.6875rem;
    font-weight: 600;
    line-height: 1rem;
    margin-bottom: 0.25rem;
    &--status {
      margin-bottom: 0.5rem;
    }
  }
  &__info {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    &--category,
    &--description {
      margin-bottom: 1rem;
    }
  }
  &__status {
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    // text-align: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    border-radius: 1.25rem;
    width: fit-content;
    &--in-stock {
      color: #158463;
      background: rgba(21, 132, 99, 0.07);
    }
    &--out-of-stock {
      color: #c94515;
      background: rgba(201, 69, 21, 0.07);
    }
  }
}
