@use "../../styles/mixins.scss" as *;
@use "../../styles/queries.scss" as *;

.inventory-item-add {
  &__container {
    @include page-container;
  }
  &__back-title-container {
    @include page-header;
  }
  &__title {
    @include add-edit-title;
  }
  &__form-container {
    @include form-container;
  }
  &__form-header {
    @include form-header;
  }
  &__form-label {
    @include form-label;
  }
  &__form-input {
    @include form-input;
  }
  &__status-containers {
    display: flex;
  }
  &__status-container {
    @include status-container;
  }
  &__radio-label {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    margin-left: 0.5rem;
  }
  &__radio-input {
    cursor: pointer;
    width: 1rem;
  }
  &__btns {
    @include form-btns;
  }
  &__btn {
    @include form-btn;
  }
  &__form-containers {
    @include tablet {
      display: flex;
      border-top: 1px solid black;
      padding: 1.5rem 0;
    }
  }
}
