@use "../../styles/mixins.scss" as *;
@use "../../styles/queries.scss" as *;

.warehouse {
  &__container {
    @include page-container;
  }
  &__header {
    @include page-header;
    justify-content: space-between;
  }
  &__back-name-container {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__edit-link {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: #2e66e5;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      border-radius: 1.25rem;
      padding: 0.5rem 1rem;
      width: auto;
      height: auto;
    }
  }
  &__edit-icon {
    width: 1.25rem;
    height: auto;
  }
  &__edit-text {
    display: none;
    @include tablet {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: white;
      display: inline;
      margin-left: 0.35rem;
    }
  }
  &__back-link {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }
  &__info-container {
    border-top: 1px solid black;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      padding: 1.5rem 2rem;
    }
  }
  &__contact-name-info-container {
    display: flex;
    justify-content: space-between;
  }
  &__info-header {
    font-size: 0.6875rem;
    font-weight: 600;
    line-height: 1rem;
    margin-bottom: 0.25rem;
    @include tablet {
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__address-container {
    margin-bottom: 1rem;
    width: 50%;
    @include tablet {
      width: 15.375rem;
      padding-right: 2rem;
      border-right: 1px solid black;
      margin-right: 2.5rem;
      margin-bottom: 0;
    }
  }
  &__contact-name-container {
    width: 50%;
    @include tablet {
      min-width: 8.875rem;
      margin-right: 1.5rem;
    }
  }
  &__contact-info-container {
    width: 50%;
  }
  &__address {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    @include tablet {
      font-size: 14px;
      line-height: 22px;
      width: 11rem;
    }
  }
  &__contact-info {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    @include tablet {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
