@use "../../styles/mixins.scss" as *;
@use "../../styles/queries.scss" as *;

.inventory-list {
  &__container {
    @include page-container;
  }
  &__headers {
    display: none;
    @include tablet {
      display: flex;
      padding: 11px 2rem;
    }
  }
  &__header-container {
    display: flex;
    align-items: center;
    &--item {
      width: 23.44%;
    }
    &--category {
      width: 18.91%;
    }
    &--status {
      width: 19.1%;
    }
    &--qty {
      width: 9.53%;
    }
    &--warehouse {
      width: 14.53%;
    }
    &--actions {
      width: 14.53%;
      justify-content: end;
    }
  }
  &__header {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #5c667e;
    margin-right: 0.25rem;
    &--actions {
      margin: 0;
      margin-left: auto;
    }
  }
  &__sort-icon {
    width: 1rem;
    height: auto;
  }
}
